.product-card {
  width: 280px; /* Fixed width */
  height: 400px; /* Fixed height */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between elements */
  margin: auto;
  
}

.product-image {
  width: 100%;
  height: 200px; /* Fixed height for the image */
  object-fit: cover; /* Ensure image scales nicely */
  border-radius: 8px;
  margin-bottom: 12px;
}

h3 {
  font-size: 14px, bold;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  overflow: hidden; /* Truncate long product names */
}

p {
  font-size: 16px;
  color: #333;
  text-align: start;
  margin: 4px 0;
}

.rating {
  color: #f9a826;
  font-size: 18px;
  margin: 8px 0;
  text-align: end;

}

.buy-now-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.buy-now-button:hover {
  background-color: #0056b3;
}
