.my-orders-container {
    padding: 20px;
  }
  
  .orders-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    ;
  }
  
  .order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-card h2 {
    margin-bottom: 10px;
  }
  .order-buttons-container {
    display: flex;
    justify-content: space-between;  /* This will space out the buttons to the left and right */
    margin-top: 10px; 
  }
  
  .view-details-btn,
  .delete-order-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-details-btn {
    background-color: #007bff;
    color: white;
  }
  
  .view-details-btn:hover {
    background-color: #0056b3;
  }
  
  .delete-order-btn {
    background-color: #d21313;
    color: white;
  }
  
  .delete-order-btn:hover {
    background-color: #a71d2a;
  }
  
  